.learn-section{background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#394a5c),color-stop(75%,rgba(12,31,55,.9)),to(#0c1f37));
    background:linear-gradient(to bottom,#1a3250 0,rgba(12,31,55,.9) 75%,#0c1f37 100%);
    background-position:center;background-repeat:no-repeat;background-attachment:scroll;
    background-size:cover;padding:4rem 0;
    text-align:center
}
@media (max-width:768px){
    .learn-section{padding-top:3rem;padding-bottom:3rem}
}
.learn-section h4{max-width:30%;min-width:30%}
@media (max-width:768px){.learn-section h4{max-width:75%;min-width:75%}}
.learn-section .details-summary{display:-webkit-box;
    display:-ms-flexbox;display:flex;cursor:pointer;
    -webkit-box-align:center;-ms-flex-align:center;align-items:center
}
.learn-section .summary-content{height:0;overflow:hidden;-webkit-transition:all .6s cubic-bezier(1,0,0,1);
    transition:all .6s cubic-bezier(1,0,0,1)
}
.learn-section .arrow-learn-even{margin:1.5em 0 0 2em;position:relative}
.learn-section .arrow-learn-odd{margin:1.5em 2em 0 0;position:relative}
.learn-section .featured-text{padding:2rem}
@media (min-width:992px){.learn-section .featured-text{padding:0 0 0 2rem;border-left:.5rem solid #f55249}}
.learn-section .learn-text{padding:2rem}
@media (min-width:992px){.learn-section .learn-text{padding:3rem}
.learn-section .learn-text hr{border-color:#f55249;border-width:.25rem;width:calc(30% + 5em)}}