#mainNav{min-height:56px;background-color:#fff}#mainNav 
.navbar-toggler{font-size:80%;padding:.75rem;color:#f55249;border:1px solid #f55249}
#mainNav .navbar-toggler:focus{outline:0}#mainNav 
.navbar-brand{color:#161616;font-weight:700;padding:.9rem 0}
#mainNav .navbar-nav .nav-item:hover{color:fade(white,80%);outline:0;background-color:transparent}
#mainNav .navbar-nav .nav-item:active,#mainNav .navbar-nav .nav-item:focus{outline:0;background-color:transparent}
@media (min-width:992px){
    #mainNav{
        padding-top:0;padding-bottom:0;border-bottom:none;
        background-color:transparent;-webkit-transition:background-color .3s ease-in-out;transition:background-color .3s ease-in-out
    }#mainNav 
    .navbar-brand{padding:.5rem 0;color:#fff}#mainNav 
    .nav-link{-webkit-transition:none;transition:none;padding:2rem 1.5rem;color:#fff}#mainNav 
    .nav-link:hover{color:rgba(255,255,255,.75)}#mainNav 
    .nav-link:active{color:#fff}#mainNav.navbar-shrink{background-color:#0c1f37}#mainNav
    .navbar-shrink .navbar-brand{color:#f55249}#mainNav.navbar-shrink 
    .nav-link{color:#fff;padding:1.5rem 1.5rem 1.25rem;border-bottom:.25rem solid transparent}#mainNav
    .navbar-shrink .nav-link:hover{color:#f55249}#mainNav.navbar-shrink 
    .nav-link:active{color:#e5180d}#mainNav
    .navbar-shrink .nav-link.active{color:#f55249;outline:0;border-bottom:.25rem solid #f55249}
}