/* Style the header with a grey background and some padding */
html{
    scroll-behavior: smooth;
}
html{background:#c7c8c8}
body{
  font-family:'Comic Sans';
  letter-spacing:.0625em;max-width:100%;overflow-x:hidden
}
a{color:#f55249}a:focus,
a:hover{text-decoration:none;color:#cd150b}
.section-title{font-size:3rem}
@media (max-width:768px){
  .section-title{font-size:2rem}
}
.bg-black{
  background-color:#161616!important
}
.bg-primary{
  background-color:#f55249!important
}
.text-primary{color:#f55249!important}
footer{padding:5rem 0}
.form-inline input,.form-inline textarea{
  -webkit-box-shadow:0 .1875rem .1875rem 0 rgba(0,0,0,.1)!important;
  box-shadow:0 .1875rem .1875rem 0 rgba(0,0,0,.1)!important;padding:1.25rem 2rem;
  height:auto;
  font-family:'Open Sans';
  font-size:80%;text-transform:uppercase;
  letter-spacing:.15rem;border:0;width:100%!important
}
footer{
  background-color:#c7c8c8
}
.text-white-80{
  color:rgba(255,255,255,.8)!important
}
.arrow-icon{
  height:2.2em;width:2.8em;display:block;
  padding:.5em;
  margin:1em auto;position:absolute;cursor:pointer;border-radius:4px
}
@-moz-document url-prefix(){
  .arrow-icon{margin:1em auto -1em}
}
.left-bar{
  position:absolute;
  background-color:transparent;
  top:0;left:0;width:20px;height:2px;
  display:block;
  -webkit-transform:rotate(35deg);
  transform:rotate(35deg);
  float:right;
  border-radius:2px
}
.left-bar:after{
  content:"";
  background-color:#fff;
  width:20px;height:2px;
  display:block;float:right;
  border-radius:6px 10px 10px 6px;
  -webkit-transition:all .5s cubic-bezier(.25,1.7,.35,.8);
  transition:all .5s cubic-bezier(.25,1.7,.35,.8);z-index:-1
}
.right-bar{
  position:absolute;
  background-color:transparent;
  top:0;left:15px;width:20px;
  height:2px;display:block;
  -webkit-transform:rotate(-35deg);
  transform:rotate(-35deg);
  float:right;border-radius:2px
}
.right-bar:after{
  content:"";background-color:#fff;width:20px;
  height:2px;display:block;float:right;
  border-radius:10px 6px 6px 10px;
  -webkit-transition:all .5s cubic-bezier(.25,1.7,.35,.8);transition:all .5s cubic-bezier(.25,1.7,.35,.8);z-index:-1}.open .left-bar:after{-webkit-transform-origin:center center;transform-origin:center center;-webkit-transform:rotate(-70deg);transform:rotate(-70deg)}.open .right-bar:after{-webkit-transform-origin:center center;transform-origin:center center;-webkit-transform:rotate(70deg);transform:rotate(70deg)}@media (max-width:992px){.display-1{font-size:5rem}}@media (max-width:768px){.display-1{font-size:3.5rem}}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
   .file-upload {
       display: inline-flex;
       align-items: center;
       font-size: 15px;
   }

   .file-upload__input{
       display: none;
   }

   .file-upload__button{
       -webkit-appearance: none;
       background: #009879;
       border: 2px solid #00745D;
       border-radius: 4px;
       outline: none;
       padding: 0.5em 0.8em;
       margin-right: 15px;
       color: white;
       font-size: 1em;
       font-family: sans-serif;
   }

   .file-upload__button:active{
       background: #00745D;
   }

   .file-upload__label {
       max-width: 250px;
       font-size:0.95em;
       text-overflow: ellipsis;
       overflow: hidden;
       white-space: nowrap;
   }